<a href="https://colab.research.google.com/github/emmanuelvaie/google_colab/blob/main/BigQueryAnalysis_profiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'fluent-music-364313' # Project ID inserted based on the query results selected to explore
location = 'europe-west9' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

In [6]:
query = """
SELECT * FROM `fluent-music-364313.import_boond.profiles` WHERE DATE(_PARTITIONTIME) = "2022-11-17"; 
"""
job = client.query(query)

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=fluent-music-364313:europe-west9:bquxjob_681ca93c_184a4051b54)
back to BigQuery to edit the query within the BigQuery user interface.

In [7]:
print(job.query)

SELECT * FROM `fluent-music-364313.import_boond.profiles` WHERE DATE(_PARTITIONTIME) = "2022-11-17";

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [9]:
# Running this code will read results from your previous job
results = job.to_dataframe()
results.head()

Warning: Total number of columns (45) exceeds max_columns (20). Falling back to pandas display.

,Civilit__,Pr__nom,Nom,Type,Etape,Titre,Comp__tences,Evaluation_Globale,Date_de_Naissance,Nationalit__,...,CV1,CV2,CV3,CV4,CV5,Mobilit__,Langues,Domaines,Secteurs,Outils
0,M,Satyam,A,Consultant Externe,Vivier sourcing,Architect & Tech Lead Microsoft Azure,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
1,M,Hicham,Ouali Alami,Consultant Externe,Vivier sourcing,Data Governance,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
2,M,Hatem,Nasri,Consultant Externe,Vivier sourcing,Big Data eng,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
3,M,Soukaina,Rommane,Consultant Externe,Vivier sourcing,Python,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
4,M,Youcef,BOUNEKTA,Consultant Externe,Vivier sourcing,Devops,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None

Warning: Total number of columns (45) exceeds max_columns (20) limiting to first (20) columns.

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [29]:
results.describe(include='all')

Warning: Total number of columns (45) exceeds max_columns (20). Falling back to pandas display.

,Civilit__,Pr__nom,Nom,Type,Etape,Titre,Comp__tences,Evaluation_Globale,Date_de_Naissance,Nationalit__,...,CV1,CV2,CV3,CV4,CV5,Mobilit__,Langues,Domaines,Secteurs,Outils
count,959,959,884,959,959,926,610,959,66,959,...,804,189,62,21,118,953,147,607,0,0
unique,1,538,739,2,9,506,530,5,53,3,...,689,184,49,19,102,22,17,19,0,0
top,M,Mohamed,Ahmed,Consultant Externe,Vivier,Devops,agile,Inconnue,19/08/1990,Inconnue,...,Sami Diramchi.pdf,https://sonatecloud-my.sharepoint.com/:w:/g/pe...,"CodinGame - C#,_.NET_platform_-_Expert - MALIK...",Grille d'évaluation Badr KACIMI.docx,Sonate_Hamza M.docx,Inconnue,", Anglais : Inconnue","RD,Devops,Cloud,Data",NaN,NaN
freq,959,34,4,926,344,25,2,601,2,949,...,2,2,2,2,3,887,71,269,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
cols = results.columns

In [37]:
prf = pd.DataFrame()

In [54]:
for c in cols:
  nb_null = results[c].isna().sum()
  d = pd.DataFrame(data = {'nom_col': c, 'nb_null': [nb_null]})
  prf = prf.append(d)

In [53]:
prf

                                nom_col  nb_null
0                             Civilit__        0
0                               Pr__nom        0
0                                   Nom       75
0                                  Type        0
0                                 Etape        0
0                                 Titre       33
0                          Comp__tences      349
0                    Evaluation_Globale        0
0                     Date_de_Naissance      893
0                          Nationalit__        0
0                        Disponibilit__        0
0                               Email_1      436
0                               Email_2      959
0                               Email_3      959
0                         T__l__phone_1      856
0                         T__l__phone_2      959
0                         T__l__phone_3      959
0                               Adresse      865
0                           Code_Postal      738
0                                 Ville      647
0                                  Pays      553
0                           Exp__rience      201
0                             Formation      339
0                             Dipl__mes      470
0                     Contrat_souhait__        0
0                        Salaire_Actuel        0
0  Salaire_Souhait_____Fourchette_basse        0
0  Salaire_Souhait_____Fourchette_haute        0
0                         Provenance_CV        0
0             Provenance_CV___Pr__cisez      959
0                          Commentaires      959
0                           Note___Date        0
0                          Note___Texte       22
0                     Date_de_cr__ation        0
0                        Responsable_RH      123
0                                   CV1      155
0                                   CV2      770
0                                   CV3      897
0                                   CV4      938
0                                   CV5      841
0                             Mobilit__        6
0                               Langues      812
0                              Domaines      352
0                              Secteurs      959
0                                Outils      959