<a href="https://colab.research.google.com/github/emmanuelvaie/google_colab/blob/main/BigQueryAnalysis_profiles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'fluent-music-364313' # Project ID inserted based on the query results selected to explore
location = 'europe-west9' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

In [6]:
query = """
SELECT * FROM `fluent-music-364313.import_boond.profiles` WHERE DATE(_PARTITIONTIME) = "2022-11-17"; 
"""
job = client.query(query)

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=fluent-music-364313:europe-west9:bquxjob_681ca93c_184a4051b54)
back to BigQuery to edit the query within the BigQuery user interface.

In [7]:
print(job.query)

SELECT * FROM `fluent-music-364313.import_boond.profiles` WHERE DATE(_PARTITIONTIME) = "2022-11-17";

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [9]:
# Running this code will read results from your previous job
results = job.to_dataframe()
results.head()

Warning: Total number of columns (45) exceeds max_columns (20). Falling back to pandas display.

,Civilit__,Pr__nom,Nom,Type,Etape,Titre,Comp__tences,Evaluation_Globale,Date_de_Naissance,Nationalit__,...,CV1,CV2,CV3,CV4,CV5,Mobilit__,Langues,Domaines,Secteurs,Outils
0,M,Satyam,A,Consultant Externe,Vivier sourcing,Architect & Tech Lead Microsoft Azure,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
1,M,Hicham,Ouali Alami,Consultant Externe,Vivier sourcing,Data Governance,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
2,M,Hatem,Nasri,Consultant Externe,Vivier sourcing,Big Data eng,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
3,M,Soukaina,Rommane,Consultant Externe,Vivier sourcing,Python,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None
4,M,Youcef,BOUNEKTA,Consultant Externe,Vivier sourcing,Devops,None,Inconnue,None,Inconnue,...,None,None,None,None,None,Inconnue,None,None,None,None

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a dataset’s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [10]:
results.describe()

,Code_Postal,Salaire_Actuel,Salaire_Souhait_____Fourchette_basse,Salaire_Souhait_____Fourchette_haute
count,221.000000,959.000000,959.000000,959.000000
mean,81332.009050,36325.401460,37350.966632,9991.866528
std,19927.819172,61451.335766,58122.114187,36609.568672
min,10230.000000,0.000000,0.000000,0.000000
25%,77420.000000,0.000000,0.000000,0.000000
50%,91400.000000,0.000000,0.000000,0.000000
75%,93460.000000,54500.000000,57500.000000,0.000000
max,95870.000000,312000.000000,240000.000000,500000.000000

In [11]:
cols = results.columns